.card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  box-sizing: border-box;

  .mat-form-field {
    width: 100%;
  }

}

.actions {
  margin: 0;
}

.title {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
